.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_city {
    height: 40px;
    width: 200px;
    border-radius: 15px;
    outline: none;
    border: 2px solid rgba(134, 134, 134, 1);
    box-shadow: 0px -2px 5px black;
}

.time {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 10px;
    box-shadow: 0px 0px 8px black;
}

.time span {
    color: rgb(0, 0, 0);
    width: 28px;
    display: inline-block;
    font: bold 30px/40px 'Barlow Condensed', sans-serif;
    text-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

#map {
    position: absolute; 
    bottom: 20px; 
    left: 20px;
    width: 250px;
    height: 250px; 
    outline: none;
    border-radius: 20px;
    box-shadow: 0px 0px 2px white;
}

#map:active {
    outline: none;
    outline-offset: 0;
}

div span {
    font-size: 20px;
}

.current {
    width: 180px;
    height: 270px;
    background: linear-gradient(180deg, rgba(192, 192, 192, 0.6), rgba(0, 0, 0, 0.8));
    box-shadow: 0px 0px 8px black;
    border: 1px solid black;
    border-radius: 20px;
    margin: 30px auto;
    text-align: center;
    color: white;
    font: 20px/18px 'Barlow Condensed', sans-serif;

}

.current span {
    width: 90px;
    text-shadow: 15px 0px 15px white;
}

.current p {
    margin-block-start: 0.3em;
    margin-block-end: 0.6em;
}

.current_date {
    margin-top: 15px;
}

.forecast {
    width: 350px;
    height: 220px;
    display: flex;
    justify-content: space-around;

}

.forecast div {
    width: 150px;
    height: 220px;
    background: linear-gradient(180deg, rgba(192, 192, 192, 0.6), rgba(0, 0, 0, 0.8));
    box-shadow: 0px 0px 8px black;
    border: 1px solid black;
    border-radius: 20px;
    font: 20px 'Barlow Condensed', sans-serif;
    text-align: center;
    color: white;  
}

.forecast p, .descriptions p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.right_container{
    display: flex;
    flex-direction: column-reverse;
}

.control_block {
    background-color: rgba(187, 187, 187, 0.3);
    box-shadow: 0px 0px 5px black;
    width: 180px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptions, .buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 15px;
}

.descriptions p {
    font: bold 16px 'Barlow Condensed', sans-serif;
}

.buttons button {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    outline: none;
}

.buttons button:hover {
    box-shadow: 0px 0px 5px black;
}

.hide {
    display: none;
}